<p id="notice"><%= notice %></p>

<h1>Site Settings</h1>

<table>
  <thead>
    <tr>
      <th>Meta title</th>
      <th>Meta desc</th>
      <th>Meta key</th>
      <th>Comment visible</th>
      <th>Sliders visible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_settings.each do |site_setting| %>
      <tr>
        <td><%= site_setting.meta_title %></td>
        <td><%= site_setting.meta_desc %></td>
        <td><%= site_setting.meta_key %></td>
        <td><%= site_setting.comment_visible %></td>
        <td><%= site_setting.sliders_visible %></td>
        <td><%= link_to 'Show', site_setting %></td>
        <td><%= link_to 'Edit', edit_site_setting_path(site_setting) %></td>
        <td><%= link_to 'Destroy', site_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site Setting', new_site_setting_path %>
