<section id="main-content">
  <section class="wrapper">
    <div class="container-fluid">
      <% if flash[:alert] %>
          <div class="alert alert-error" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-info" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
      <% end %>



      <div class="row">

        <div class="col-lg-12">
          <nav class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    <% case @sort %>
                    <% when 'visible1' %>
                        <%= 'Не скрытые' %>
                    <% when 'visible0' %>
                        <%= 'Скрытые' %>
                    <% when 'sort_top1' %>
                        <%= 'Вверх' %>
                    <% when 'sort_top0' %>
                        <%= 'Не вверх' %>
                    <% when 'all' %>
                        <%= 'Все товары' %>
                    <% else %>
                        <%= 'Сртировать товары по:' %>
                    <% end %>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="people_btn">
                    <li>
                      <%= link_to 'Скрытые', adminpanel_products_path(column: 'visible', sort: 0) %>
                    </li>
                    <li>
                      <%= link_to 'Не скрытые', adminpanel_products_path(column: 'visible', sort: 1) %>
                    </li>
                    <li>
                      <%= link_to 'Вверх', adminpanel_products_path(column: 'sort_top', sort: '1') %>
                    </li>
                    <li>
                      <%= link_to 'Не вверх', adminpanel_products_path(column: 'sort_top', sort: '0') %>
                    </li>
                    <li>
                      <%= link_to '<b>Все товары</b>'.html_safe, adminpanel_products_path(sort: 'all') %>
                    </li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    <%= @cat.name if @cat && @sort == "category_id#{@cat.id}" %>
                    <%= 'Все товары' if @sort == 'all_cat' %>
                    <%= 'Выбрать категорию:' if params[:sort] != 'all_cat' && params['column'] != 'category_id' %>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="people_btn">
                    <% @categories.each do |category| %>
                        <li>
                          <%= link_to category.name, adminpanel_products_path(column: 'category_id', sort: category.id) %>
                        </li>
                    <% end %>
                    <li>
                      <%= link_to '<b>Все товары</b>'.html_safe, adminpanel_products_path(sort: 'all_cat') %>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav costumFormS">
                <li>
                  <div class="navbar-form">
                    <%= text_field_tag(:q, nil, :value => params[:q], placeholder: "Поиск товаров", class: "form-control round-input searchFull") %>
                  </div>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'Добавить товар', new_product_path, class: 'navbar-brand btn btn-info' %></li>
              </ul>
            </div>
          </nav>
          <div class="prod">
            <%= render 'prod' %>
          </div>
        </div>
      </div>
  </section>
</section>

<style>
  .product, .product a {
    background: #2e3b46;
    color: white !important;
  }
</style>

<script type="text/javascript">

    $(function () {
        $('input[type=checkbox]').change(function () {
            var check_id = $(this).attr('pr_id');
            $.ajax({
                url: '/products/sort_top',
                type: 'POST',
                data: $('#sort_top' + check_id).serialize()
            });
        });
    });

</script>