<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            Изменить категорию
          </header>
          <div class="panel-body">

            <%= nested_form_for(@site_setting, multipart: true, :html => {:class => 'form-horizontal'}) do |f| %>
                <% if @site_setting.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@site_setting.errors.count, "error") %> prohibited this site setting from being
                        saved:</h2>

                      <ul>
                        <% @site_setting.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>


                <div class="form-group">
                  <div class=" col-sm-2">
                    <%= f.label 'Заголовок сайта', class: "control-label" %>
                  </div>
                  <div class="col-sm-10 ">
                    <%= f.text_field :meta_title, class: "form-control form" %>
                  </div>
                </div>


                <div class="form-group">
                  <div class=" col-sm-2">
                    <%= f.label 'МЕТА описание', class: "control-label" %>
                  </div>
                  <div class="col-sm-10 ">
                    <%= f.text_area :meta_desc, class: "form-control form" %>
                  </div>
                </div>

                <div class="form-group">
                  <div class=" col-sm-2">
                    <%= f.label 'МЕТА ключи', class: "control-label" %>
                  </div>
                  <div class="col-sm-10 ">
                    <%= f.text_area :meta_key, class: "form-control form" %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-2 ">
                    <%= f.label 'Показать слайды', for: 'sliders_visible' %>
                  </div>
                  <div class="col-sm-10 ">
                    <%= f.check_box :sliders_visible, id: 'sliders_visible' %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-2 ">
                    <%= f.label 'Показать комментарии', for: 'comment_visible' %>
                  </div>
                  <div class="col-sm-10 ">
                    <%= f.check_box :comment_visible, id: 'comment_visible' %>
                  </div>
                </div>
                <h4>Картинки для слайдера</h4>
                <% @site_setting.site_slide_images.each do |slide_image| %>
                    <%= f.fields_for :site_slide_images, slide_image do |slide| %>
                        <div class="form-group rowImageSlide">
                          <div class="col-sm-2"></div>
                          <div class="col-sm-2">
                            <%= slide.file_field :image, class: 'uploadImage' %>
                          </div>
                          <div class="col-sm-8">
                            <%= image_tag slide_image.image, class: 'slideImagePrduct' %>
                            <%= slide.link_to_remove '<i class="icon_close_alt2"></i>'.html_safe, class: 'deleteImageSlide btn btn-danger' %>
                          </div>
                        </div>
                    <% end %>
                <% end %>


                <%= f.link_to_add :site_slide_images do %>
                    <span type="button" class="btn btn-success btn-block addPhohto"><i class="icon_plus"></i> ДОБАВИТЬ КАРТИНКУ</span>
                <% end %>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10 actions">
                    <br>
                    <button type="submit" class="btn btn-success editSeller">Сохранить</button>
                  </div>
                </div>
            <% end %>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
<style>
  .settings, .settings a {
    background: #2e3b46;
    color: white !important;
  }


</style>