<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @comment.product_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @comment.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @comment.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @comment.phone %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Moderation:</strong>
  <%= @comment.moderation %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
