<p id="notice"><%= notice %></p>

<h1>Twocategories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Meta title</th>
      <th>Meta desc</th>
      <th>Meta key</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twocategories.each do |twocategory| %>
      <tr>
        <td><%= twocategory.name %></td>
        <td><%= twocategory.meta_title %></td>
        <td><%= twocategory.meta_desc %></td>
        <td><%= twocategory.meta_key %></td>
        <td><%= twocategory.category %></td>
        <td><%= link_to 'Show', twocategory %></td>
        <td><%= link_to 'Edit', edit_twocategory_path(twocategory) %></td>
        <td><%= link_to 'Destroy', twocategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twocategory', new_twocategory_path %>
