<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>


<div class="col-sm-3 cat">

  <ul class="nav navmenu-nav ul">
    <% @categories.each do |category| %>
        <li class="dropdown li3 punkt"><%= link_to category.name, category_path(category) %></li>
        <% if category == @category %>
            <li class="li">
              <ul class="ul2">
                <% category.twocategories.each do |twocategory| %>
                    <%= link_to showtwocategory_path(category, twocategory) do %>
                        <li class="li2"><%= twocategory.name %></li>
                    <% end %>
                <% end %>
              </ul>
            </li>
        <% end %>
    <% end %>
  </ul>
  <%= render 'welcome/newshare' %>
</div>

<div class="col-sm-9">
  <div class="row text-center">
    <% @products.each do |product| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="color">
            <%= link_to product do %>
                <div><%= image_tag product.image, title: product.name, alt: product.name %></div>
                <p class="proname"><%= product.name %></p>

                <p class="proprice">
                  <span class="proprice" style='color:red;text-decoration:line-through'><span style='color:#333;'><%= "#{product.share_price} грн" if product.share == 1 %></span></span>
                  <%= product.price %> грн</p>
            <% end %>
            <div id="buttonAddTocart_<%= product.id %>">
              <% if @cart.line_items.find_by_product_id(product).present? %>
                  <button class="btn btn-default">Товар в корзине</button>
                  <!--<span class="inCart btn btn-default">Товар в корзине</span>-->
              <% else %>
                  <%= button_to 'Добавить в корзину', line_items_path(product_id: product), class: "btn btn-success", remote: true %>
              <% end %>
            </div>
          </div>
          <%= image_tag 'new.png', class: 'newProductLogo' if product.new == 1 %>
          <%= image_tag 'sale.png', class: 'saleProductLogo' if product.share == 1 %>
        </div><!--/span-->
    <% end %>
  </div>
</div>