<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
  <!--Test bootstrap-->
<!--</button>-->

<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--...-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div>-->
  <!--<% @products.each do |product| %>-->
          <!--<div class="entry">-->
            <!--<h3><%= product.name %></h3>-->
            <!--<%= sanitize(product.description) %>-->
            <!--<div class="price_line">-->
              <!--<span class="price"><%= number_to_currency(product.price) %></span>-->
              <!--<%= button_to 'Add to Cart', line_items_path(product_id: product) %>-->
            <!--</div>-->
          <!--</div>-->
  <!--<% end %>-->
<!--</div>-->
<div class="">
<div class=" navbar navbar-default" role="navigation">
  <div class="container text-center odin">

      <div style="display: inline-block;">
        <ul class="nav navbar-nav menu5 dopmenu">
          <li class="li"><a href="#">О нас</a></li>
          <li class="li"><a href="#"></a></li>
          <li class="li"><a href="#">Мы в соцсетях</a></li>
          <li class="social"><a href="#"><img src="/assets/fa.png" ></a></li>
          <li class="social"><a href="#"><img src="/assets/In.png" ></a></li>
          <li class="social"><a href="#"><img src="/assets/vk.png" ></a></li>
        </ul>
      </div>

  </div>
</div>
</div>
<div class="header text-center">
  <img src="/assets/05-3.jpg" class="img-responsive">
</div>
<div class="navbar navbar-default dva" role="navigation">
  <div class="container menu1">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse text-center">
      <div style="display: inline-block;">
        <ul class="nav navbar-nav ">
          <li class="active"><a href="/">ГЛАВНАЯ</a></li>
          <li class="li"><a href="#">ОПЛАТА И ДОСТАВКА</a></li>
          <li class="li"><a href="#">КОНТАКТЫ</a></li>
          <li class="li"><a href="#">НОВИНКИ</a></li>
          <li class="li"><a href="#">АКЦИИ</a></li>
          <li class="li"><%= link_to 'КОРЗИНА', cart_path(@cart) %></li>
        </ul>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="container text-center">

</div><!-- /.container-fluid -->

<div class="container">
  <div class="row">
    <div class="col-sm-2 cat">
      <ul class="ul">
        <li class="li3">1</li>
        <li class="li">
          <ul class="ul2">
            <li class="li2">1</li>
            <li class="li2">2</li>
          </ul>
        </li>
        <li class="li3">2</li>
        <li class="li">
          <ul class="ul2">
            <li class="li2">1</li>
            <li class="li2">2</li>
          </ul>
        </li>
        <li class="li3">3</li>
        <li class="li">
          <ul class="ul2">
            <li class="li2">1</li>
            <li class="li2">2</li>
          </ul>
        </li>
        <li class="li3">4</li>
        <li class="li">
          <ul class="ul2">
            <li class="li2">1</li>
            <li class="li2">2</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-10">
      <div class="row text-center">
        <div class="col-6 col-sm-6 col-lg-4">
          <div class="color">
            <h2>1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <div class="color">
            <h2>2</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <div class="color">
            <h2>3</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <div class="color">
            <h2>4</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <div class="color">
            <h2>5</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <div class="color">
            <h2>6</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <div class="color">
            <h2>1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <div class="color">
            <h2>1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
        </div><!--/span-->

      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-default" role="navigation">
  <div class="container menu1 text-center paddi">
    <div class="col-sm-6 ">
      <p class="">Polsha.com.ua © 2017</p>
    </div>
    <div class="col-sm-6">
      <p class="labsites">Сайт разработан<a href="http://labsites.org/en/" target="_blank"> Labsites.org</a></p>
    </div>
</div>
</div>