<div class="container">
  <div class="row">
    <div class="col-sm-3 cat">
      <ul class="nav navmenu-nav ul">
        <% @categories.each do |category| %>
            <li class=" dropdown li3 punkt">
              <%= link_to category.name, category_path(category) %>
            </li>
        <% end %>
      </ul>
    </div>

    <div class="col-sm-9">
      <div class="row text-center">
        <% @products.each do |product| %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="color">
                <% if rootadmin_signed_in? %>
                    <%= link_to '<i class="fa fa-pencil fa-2x colEdit" aria-hidden="true"></i>'.html_safe,  edit_product_path(product.id), class: 'editProductCat', title: 'Редактировать' %>
                <% end %>
                <%= link_to product do %>
                    <div class="foto-ok prosto"><%= image_tag product.image, title: product.name, alt: product.name %></div>
                    <p class="proname"><%= product.name %></p>
                    <p class="proprice">
                      <span class="proprice" style='color:red;text-decoration:line-through'><span style='color:#333;'><%= "#{product.share_price} грн" if product.share == 1 %></span></span>
                      <%= product.price %> грн</p>
                <% end %>
                <div id="buttonAddTocart_<%= product.id %>">
                  <% if @cart.line_items.find_by_product_id(product).present? %>
                      <button class="btn btn-default">Товар в корзине</button>
                      <!--<span class="inCart btn btn-default">Товар в корзине</span>-->
                  <% else %>
                      <%= button_to 'Добавить в корзину', line_items_path(product_id: product), class: "btn btn-success", remote: true %>
                  <% end %>
                </div>
              </div>
              <%= image_tag 'new.png', class: 'newProductLogo' if product.new == 1 %>
              <%= image_tag 'sale.png', class: 'saleProductLogo' if product.share == 1 %>
            </div><!--/span-->
        <% end %>
      </div>
    </div>

  </div>
  <%= will_paginate @products, previous_label: '<i class="fa fa-chevron-circle-left fa-lg adminPag"></i>'.html_safe, next_label: '<i class="fa fa-chevron-circle-right fa-lg adminPag"></i>'.html_safe %>
</div>
<style>
  .fone1{background: #1417ae;}
</style>

