


<div class="container">
  <div class="row">
    <h3 class="text-center">Корзина</h3>
    <table class="table table-hover">
      <thead>
      <tr class="info text-center">
        <th class="text-center">Фото</th>
        <th class="text-center">Название</th>
        <th class="text-center">Количество</th>
        <th class="text-center">Цена</th>
        <th class="text-center"><%= button_to 'Очистить корзину', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger clearCart' %></th>
      </tr>
      </thead>
      <tbody>
      <% @cart.line_items.each do |item| %>
      <tr class="success text-center" id='cartProductLine_<%= item.id %>'>
        <td class="foto text-center"><%= image_tag item.product.image.url(:thumb), title: item.product.name, alt: item.product.name %></td>
        <td class="hidden-xs text-center"><%= item.product.name %></td>
        <td class="hidden-xs text-center">
          <%= form_for((item), remote: true, method: "put", action: "update", :html => {id: "cartNum#{item.id}"}) do |f| %>

<div class="input-group spinner" id='spinner_<%= item.id %>'>
<%= f.text_field :quantity, attrnum: item.id, min: 1, class: 'form-control' %>    <div class="input-group-btn-vertical">
      <button class="btn btn-default" type="button" attrnum='<%= item.id %>'><i class="fa fa-caret-up"></i></button>
      <button class="btn btn-default" type="button" attrnum='<%= item.id %>'><i class="fa fa-caret-down"></i></button>
    </div>
  </div>
<%end%>



        </td>
        <td class="hidden-xs text-center"><%= item.product.price %></td>
        <td class="hidden-xs text-center"><%= link_to 'X', item, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>        
      </tr>
       <% end %>       
      </tbody>      
    </table>
    <p class='countProductPrice'><b>Итого:</b> <span><%= number_to_currency(@cart.total_price) %></span></p>
    <h3 class="text-center"><button type="submit" class="btn btn-default">Оформить заказ</button></h3>
    </form>
  </div>
</div>
<h5 class="text-center">На новой странице</h5>
<div class="container">
  <div class="row">
    <h3 class="text-center">Оформление заказа</h3>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">ФИО</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Иванов Иван Иванович">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="ivanov@gmail.com">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Телефон</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="0501234567">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Город</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>Выберите свой город</option>
            <option>Запорожье</option>
            <option>Другие города Украины</option>
          </select>
        </div>
      </div>
      <h5 class="text-center">If Запорожье</h5>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Район доставки</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>Выберите район доставки</option>
            <option>Доставка по Космосу/Пески</option>
            <option>Доставка по Центру города</option>
            <option>Доставка по Шевченковскому</option>
            <option>Доставка по Правому берегу</option>
            <option>Самовывоз с Космоса</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Способы оплаты</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>Выберите способ оплаты</option>
            <option>Оплата курьеру</option>
            <option>Расчет по Приват24</option>
          </select>
        </div>
      </div>
      <h5 class="text-center">Else другой город</h5>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Способ доставки</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>Выберите способ доставки</option>
            <option>Новая почта</option>
            <option>Ин-тайм</option>
            <option>Другая почта</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Способы оплаты</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>Выберите способ оплаты</option>
            <option>Приват24</option>
            <option>Аваль</option>
            <option>Другое</option>
          </select>
        </div>
      </div>
      <h5 class="text-center">End</h5>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Примечание</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-danger">Оформить заказ</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
$(function () {
$('input[type=number]').change(function () {
var attrNum = $(this).attr("attrnum");
$.post($('#cartNum' + attrNum).attr('action'),
$('#cartNum' + attrNum).serialize(), null, 'script');
return false;
});
});

(function ($) {
  $('.spinner .btn:first-of-type').on('click', function() {
    var attrNum = $(this).attr("attrnum");
    $('.spinner input').val( parseInt($('.spinner input').val(), 10) + 1);
  });
  $('.spinner .btn:last-of-type').on('click', function() {
    var attrNum = $(this).attr("attrnum");
    $('.spinner input').val( parseInt($('.spinner input').val(), 10) - 1);
  });
})(jQuery);
</script>