<script type="text/javascript" charset="utf-8">
    $( function() {
        $('form').parsley();
    } );
</script>
<%= form_for(category, multipart: true, :html => { :class => 'form-horizontal'}) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'Основное фото', class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <ul class="sliderImg imgcat">
        <li><%= image_tag category.image.url, title: "#{category.name}", id: 'imagePreload', class: "EditImage", height: 100 %></li>
        <li><%= f.file_field :image, id: 'imgInp' %>
          <% unless category.image_file_name.nil? %></li>
              <li><%= link_to("Удалить", {action: :delete_attachment, id: category.id}, method: :delete, data: {confirm: 'Вы уверины что хотите удалить?'}) %></li>
          <% end %>
          </ul>
    </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Название', class:"control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :name, autofocus: true, class: "form-control form", 'data-parsley-required' => true, 'data-parsley-error-message' => 'Введите имя категории' %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'МЕТА описание', class:"control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_area :meta_desc, class: "form-control form" %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'МЕТА ключи', class:"control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_area :meta_key, class: "form-control form" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 actions">
        <br>
        <%= link_to 'Назад', adminpanel_categories_path, class: 'btn btn-primary' %>
        <button type="submit" class="btn btn-success editSeller">Сохранить</button>
      </div>
    </div>
<% end %>
