<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :twocategory_id %>
    <%= form.number_field :twocategory_id, id: :product_twocategory_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.number_field :visible, id: :product_visible %>
  </div>

  <div class="field">
    <%= form.label :meta_desc %>
    <%= form.text_area :meta_desc, id: :product_meta_desc %>
  </div>

  <div class="field">
    <%= form.label :meta_key %>
    <%= form.text_area :meta_key, id: :product_meta_key %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
