
<div class="container">
  <div class="row">

  <div class="row text-center color2">
    <div class="col-xs-12 col-sm-6">
      <div class="">
      <div class="zoomWrapper">
        <%= image_tag @product.image.url(:showproduct), alt: @product.name, title: @product.name, class:"zoom-img", id:"zoom_03", 'data-zoom-image' => @product.image %>
      </div>
      <div id="gallery_01" >

        <%= link_to @product.image.url(:showproduct), class: 'elevatezoom-gallery', 'data-image' => @product.image, 'data-zoom-image' => @product.image, title: @product.name do %>
            <%= image_tag @product.image.url(:showproduct), alt: @product.name, title: @product.name %>
            <% end %>


        <% @product.product_slide_images.each do |slide| %>
          <%= link_to slide.image.url(:showproduct), class: 'elevatezoom-gallery', 'data-image' => slide.image, 'data-zoom-image' => slide.image, title: @product.name do %>
            <%= image_tag slide.image.url(:showproduct), alt: @product.name, title: @product.name %>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>
    <script>
        //initiate the plugin and pass the id of the div containing gallery images
        $('#zoom_03').ezPlus({
            gallery: 'gallery_01', cursor: 'pointer', galleryActiveClass: 'active',
            imageCrossfade: true, loadingIcon: 'http://www.elevateweb.co.uk/spinner.gif'
        });

        //pass the images to Fancybox
        $('#zoom_03').bind('click', function (e) {
            var ez = $('#zoom_03').data('ezPlus');
            $.fancyboxPlus(ez.getGalleryList());
            return false;
        });
    </script>
        <div class="col-xs-12 col-sm-6">
          <p class="showname"><%= @product.name %></p>
          <% if @product.share == 1 %>
               <p class="proprice" style='color:red;text-decoration:line-through'><span style='color:#333;'><%= @product.share_price %>грн</span></p>
          <% end %>
          <p class="proprice"><%= @product.price %>грн</p>
          <div id="buttonAddTocart_<%= @product.id %>">
            <% if @cart.line_items.find_by_product_id(@product).present? %>
                <button class="btn btn-success">Товар в корзине</button>
                <!--<span class="inCart">Товар в корзине</span>-->
            <% else %>
               <%= button_to 'Добавить в корзину', line_items_path(product_id: @product), class: "btn btn-success", remote: true %>
            <% end %>
          </div>
          <p><%= button_to 'Вернуться в категорию', @pr_cat, class: "btn btn-info opisanie", method: :get %></p>
        </div>


        <div class="col-xs-12 opisanie">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><p>Описание</p></a></li>
            <% if @site_setting.comment_visible == 1 %>
            <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><p>Отзывы</p></a></li>
            <% end %>
          </ul>
          <!-- Содержимое вкладок -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home"><p class="showProductDesc"><%= @product.description %></p>
            </div>
            <% if @site_setting.comment_visible == 1 %>
            <div role="tabpanel" class="tab-pane" id="profile">
              <div class="productComments col-xs-12">
                <% if user_signed_in? %>
                    <%= form_for(Comment.new, remote: true) do |f| %>

                        <div class="field">
                          <%= f.hidden_field :product_id, value: @product.id %>
                        </div>

                        <div class="col-md-offset-2 forma">
                          <div class="col-sm-2 form-group">
                            <%= f.label 'Отзыв', for: :comment_body, class: "control-label" %>
                          </div>
                          <div class="col-sm-10 form-group">
                            <%= f.text_area :body, id: :comment_body, class:"form-control form" , 'data-parsley-required' => true, 'data-parsley-error-message' => 'Поле "отзыв" не может быть пустым' %>
                          </div>
                        </div>
                        <div class="form-group col-md-offset-2">
                          <div class="col-sm-offset-2 col-sm-10 actions">
                            <button type="submit" class="btn btn-default">Отправить</button>
                          </div>
                        </div>

                    <% end %>
                <% else %>
                    <p class="messageLinkUser">Чтобы оставить отзыв <%= link_to 'Войти', new_user_session_path(continue: product_path(@product.id)) %> или
                      <%= link_to 'Зарегистрируйся', new_user_registration_path(continue: product_path(@product.id)) %></p>
                <% end %>
              </div>
              <div class="comment">
              <ul class="col-xs-12">
                <% @comments.each do |comment| %>
                    <li class="col-xs-12 col-sm-2 text-left com1"><%= comment.created_at.strftime("%d.%m.%Y") %></li>
                    <li class="col-xs-12 col-sm-2 text-left"><%= comment.name %></li>
                    <li class="col-xs-12 col-sm-8 text-left com2"><%= comment.body %></li>

                <% end %>
              </ul>
              </div>
            </div>
          <% end %>
          </div>

        </div>

      </div>

  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $('form').parsley();
    });
</script>