<div class="container">
  <div class="row">

      <div class="row text-center color2">
        <div class="col-xs-6">
          <div class="col-sm-4 color4">
            <ul class="">
              <% @product.product_slide_images.each do |slide| %>
                  <li>
                    <%= link_to slide.image.url(:showproduct), class: 'gallery', rel: 'group', title: @product.name do %>
                        <%= image_tag slide.image.url(:showproduct), alt: @product.name, title: @product.name %>

                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
          <div class="col-sm-8 color3"><%= image_tag @product.image.url(:showproduct), alt: @product.name, title: @product.name %></div>
        </div>
        <div class="col-xs-6">
          <p class="showname"><%= @product.name %></p>
          <% if @product.share == 1 %>
               <p class="proprice" style='color:red;text-decoration:line-through'><span style='color:#333;'><%= @product.share_price %>грн</span></p>
          <% end %>
          <p class="proprice"><%= @product.price %>грн</p>
          <div id="buttonAddTocart_<%= @product.id %>">
            <% if @cart.line_items.find_by_product_id(@product).present? %>
                <span class="inCart">Товар в корзине</span>
            <% else %>
               <%= button_to 'Добавить в корзину', line_items_path(product_id: @product), class: "btn btn-success", remote: true %>
            <% end %>
          </div>
          <p><%= button_to 'Вернуться в категорию', category_path(@product.category_id), class: "btn btn-info opisanie" %></p>
        </div>


        <div class="col-xs-12 opisanie">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><p>Описание</p></a></li>
            <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><p>Отзывы</p></a></li>
          </ul>
          <!-- Содержимое вкладок -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home"><p class="showProductDesc"><%= @product.description %></p>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
              <div class="productComments col-xs-12">
                <% if user_signed_in? %>
                    <%= form_for(Comment.new, remote: true) do |f| %>
                        <div class="field">
                          <%= f.hidden_field :product_id, value: @product.id %>
                        </div>
                        <div class="field">
                          <%= f.label 'Отзыв', for: :comment_body %>
                          <%= f.text_area :body, id: :comment_body, 'data-parsley-required' => true, 'data-parsley-error-message' => 'Поле "отзыв" не может быть пустым' %>
                        </div>

                        <div class="actions">
                          <%= f.submit 'Отправить' %>
                        </div>
                    <% end %>
                <% else %>
                    <p class="messageLinkUser">Чтобы оставить отзыв <%= link_to 'Войти', new_user_session_path %> или
                      <%= link_to 'Зарегистрируйся', new_user_registration_path %></p>
                <% end %>
              </div>
              <ul class="col-xs-12">
                <% @comments.each do |comment| %>
                    <li><%= comment.created_at.strftime("%d.%m.%Y") %></li>
                    <li><%= comment.name %></li>
                    <li><%= comment.body %></li>
                    <li><%= comment.body %></li>
                    <li>------------------------------------</li>
                <% end %>
              </ul>
            </div>

          </div>

        </div>

      </div>

  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $('form').parsley();
    });
</script>