<!DOCTYPE html>
<html>
<head>
  <title>Polsha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<!-- BEGIN Modal show Cart -->
<div class="modal fade" id="modalshowCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Вы добавили в корзину:</h4>
      </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
            <table class="col-sm-12 showCartBasic">
              <tbody>
              <tr>
                <th>Картинка</th>
                <th>Название</th>
                <th>Цена</th>
              </tr>
              <tr>
                <td class='showCartImage'></td>
                <td class='showCartName'></td>
                <td class='showCartPrice'></td>
              </tr>
              </tbody>
            </table>
              </div>
            </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Продолжить покупки</button>
            <%= link_to 'Перейти в корзину', cart_path(@cart), class: 'btn btn-success', 'aria-hidden' => 'true', 'onclick' => 'hideModalBoot()' %>
          </div>


    </div>
  </div>
</div>
<!-- END Modal show Cart -->

<div class="hidden-xs">
  <div class=" navbar navbar-default" role="navigation">
    <div class="container text-center odin">

      <div style="display: inline-block;">
        <ul class="nav navbar-nav menu5 dopmenu">
          <li class="li"><a href="/aboute">О нас</a></li>
          <li class="li"><a href="#"></a></li>
          <li class="li"><a href="#">Мы в соцсетях</a></li>
          <li class="social"><a href="https://www.facebook.com/profile.php?id=100010864456981&hc_ref=NEWSFEED" target="_blank"><img src="/assets/vk.png" ></a></li>
          <li class="social"><a href="https://www.facebook.com/profile.php?id=100010864456981&hc_ref=NEWSFEED" target="_blank"><img src="/assets/fa.png" ></a></li>
          <li class="social"><a href="https://www.facebook.com/profile.php?id=100010864456981&hc_ref=NEWSFEED" target="_blank"><img src="/assets/In.png" ></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="header text-center hidden-xs">
  <img src="/assets/05-3.jpg" class="img-responsive">
</div>

<div class="navbar navbar-default dva" role="navigation">
  <div class="container menu1">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav menu5 dopmenu visible-xs">
        <li class="li"><a href="#">О нас</a></li>
        <li class="li"><a href="#"></a></li>
        <li class="li"><a href="#">Мы в соцсетях</a></li>
        <li class="social"><a href="https://www.facebook.com/profile.php?id=100010864456981&hc_ref=NEWSFEED" target="_blank"><img src="/assets/vk.png" ></a></li>
        <li class="social"><a href="https://www.facebook.com/profile.php?id=100010864456981&hc_ref=NEWSFEED" target="_blank"><img src="/assets/fa.png" ></a></li>
        <li class="social"><a href="https://www.facebook.com/profile.php?id=100010864456981&hc_ref=NEWSFEED" target="_blank"><img src="/assets/In.png" ></a></li>
      </ul>
    </div>
    <div class="navbar-collapse collapse text-center">
      <div style="display: inline-block;">
        <ul class="nav navbar-nav ">
          <li class="active"><a href="/">ГЛАВНАЯ</a></li>
          <li class="li"><a href="#">ОПЛАТА И ДОСТАВКА</a></li>
          <li class="li"><a href="#">КОНТАКТЫ</a></li>
          <li class="li"><a href="/show">НОВИНКИ</a></li>
          <li class="li"><a href="/twocat">АКЦИИ</a></li>
          <li class="li"><%= link_to 'КОРЗИНА', cart_path(@cart) %></li>
        </ul>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <div class="row">





    <%= yield %>
  </div>
</div>

<div class="navbar navbar-default" role="navigation">
  <div class="container menuniz text-center paddi">
    <div class="col-sm-6 ">
      <p class="">Polsha.com.ua © 2017</p>
    </div>
    <div class="col-sm-6">
      <p class="labsites">Сайт разработан<a href="http://labsites.org/en/" target="_blank"> Labsites.org</a></p>
    </div>
  </div>
</div>
</body>
</html>