<!DOCTYPE html>
<html>
<head>
  <title>Polsha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '/slick/css/slick.css' %>
  <%= stylesheet_link_tag '/slick/css/slick-theme.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '/slick/js/slick.js' %>
  <script src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.20/src/jquery.ez-plus.js"></script>

</head>

<body>

<!-- BEGIN Modal show Cart -->
<div class="modal fade" id="modalshowCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Вы добавили в корзину:</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <table class="col-sm-12 showCartBasic">
              <tbody>
              <tr>
                <th>Картинка</th>
                <th>Название</th>
                <th>Цена</th>
              </tr>
              <tr>
                <td class='showCartImage'></td>
                <td class='showCartName'></td>
                <td class='showCartPrice'></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Продолжить покупки</button>
        <%= link_to 'Перейти в корзину', cart_path(@cart), class: 'btn btn-success', 'aria-hidden' => 'true', 'onclick' => 'hideModalBoot()' %>
      </div>


    </div>
  </div>
</div>
<!-- END Modal show Cart -->

<div class="hidden-xs">
  <div class=" navbar navbar-default" role="navigation">
    <div class="container text-center odin">

      <div style="display: inline-block;">
        <ul class="nav navbar-nav menu5 dopmenu">
          <li class="li"><a href="/about">О нас</a></li>
          <li class="li"><a href="#"></a></li>
          <li class="li"><p>Мы в соцсетях</p></li>
          <li class="social">
            <a href="https://www.facebook.com/profile.php?id=100010864456981&hc_ref=NEWSFEED" target="_blank"><img src="/assets/vk.png"></a>
          </li>
          <li class="social">
            <a href="https://www.facebook.com/profile.php?id=100010864456981&hc_ref=NEWSFEED" target="_blank"><img src="/assets/fa.png"></a>
          </li>
          <li class="social">
            <a href="https://www.facebook.com/profile.php?id=100010864456981&hc_ref=NEWSFEED" target="_blank"><img src="/assets/In.png"></a>
          </li>
          <li class="dropdown">
            <a type="button" id="drop001" role="button" class="dropdown-toggle fotoava"
               data-toggle="dropdown" href="#">
              <% if user_signed_in? %>
                  <%= image_tag current_user.avatar.url(:medium), alt: current_user.name %>
                  <%= current_user.name %>
              <% else %>
                  <span class="cabinet">Личный кабинет</span>
              <% end %>
              <b class="caret"></b></a>
            <ul class="dropdown-menu " role="menu" aria-labelledby="drop001">
              <% if user_signed_in? %>
                  <li class="xsmenu"><%= link_to 'Редактировать данные', edit_user_registration_path %></li>
                  <li class="divider hidden-xs"></li>
                  <li class="xsmenu"><%= link_to('Выйти', destroy_user_session_path, {:tabindex => '-1'}) %></li>
              <% else %>
                  <li><%= link_to('Войти', new_user_session_path, {:class => 'xsmenu', :tabindex => '-1'}) %></li>
                  <li class="divider hidden-xs"></li>
                  <li><%= link_to('Регистрация', new_user_registration_path, {:class => 'xsmenu', :tabindex => '-1'}) %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="header text-center">
  <ul class="saa">
    <li class="saa1"><a href="/"><img src="/assets/logo3.jpg" class="img-responsive"></a></li>
    <li>
      <section class="autoplay hidden-xs">
        <img src="/assets/logo3.jpg" class="img-responsive">
        <img src="/assets/logo3.jpg" class="img-responsive">
        <img src="/assets/logo3.jpg" class="img-responsive">
      </section>
    </li>
    <li class="vas"><p>099-097-66-44</p>
      <p>096-097-66-44</p></li>
    <li class="count">
      <p>
        <%= link_to cart_path(@cart) do %>
            <span class="count2">Количество товаров в козине: <span><%= @cart_quantity %></span></span>
            <%= image_tag "cor.png", alt: 'Корзина товаров', title: 'Корзина товаров' %>
        <% end %>
      </p>
    </li>
  </ul>
</div>

<div class="navbar navbar-inverse navbar-default dva">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
        <span class="sr-only">open</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse text-center" id="responsive-menu">
      <ul class="nav navbar-nav glava">
        <li class="active"><%= link_to 'ГЛАВНАЯ', root_path %></li>
        <li class="li"><%= link_to 'НОВИНКИ', new_path %></li>
        <li class="li"><%= link_to 'АКЦИИ', sale_path %></li>
        <li class="li hidden-xs">
          <%= form_tag({:controller => "/search", :action => "result"}, method: "get", class: "navbar-search navbar-form", "role" => "search") do %>
          <form class="navbar-search navbar-form">
            <%= text_field_tag(:q, nil, placeholder: "Поиск товаров", class: "form-control searchInput") %>
            <%= button_tag 'Найти', class: 'btn btn-info' %>
          <% end %>
        </li>
        <li class="li"><%= link_to 'ОПЛАТА И ДОСТАВКА', payment_path %></li>
        <li class="li"><%= link_to 'КОНТАКТЫ', contacts_path %></li>
        <!--<li class="li"><%= link_to 'КОНТАКТЫ', back_path %></li>-->
      </ul>
    </div>
  </div>
</div>

<% if flash[:alert] %>
    <div class="alert alert-error" class="text-center">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <center><%= flash[:alert] %></center>
    </div>
<% end %>
<% if flash[:notice] %>
    <div class="alert alert-info" class="text-center">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <center><%= flash[:notice] %></center>
    </div>
<% end %>
<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>
<div class="tofooter">

</div>

<footer class="navbar navbar-default" role="navigation" id="footer">
  <div class="container menuniz text-center paddi">
    <div class="col-sm-6 ">
      <p class="">Polsha.com.ua © 2017</p>
    </div>
    <div class="col-sm-6">
      <p class="labsites">Сайт разработан<a href="http://labsites.org/en/" target="_blank"> Labsites.org</a></p>
    </div>
  </div>
</footer>
</body>
</html>